.global_box {
  height: 80%;
  overflow-y: auto;
}
.featured_playlists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 992px) {
  .featured_playlists {
    grid-template-columns: repeat(3, 1fr);
    font-size: 90%;
  }
}
@media screen and (max-width: 768px) {
  .featured_playlists {
    grid-template-columns: repeat(2, 1fr);
    font-size: 80%;
  }
}
