.hero {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  height: 87%;
  border-radius: 0.5rem;
}
.hero_head {
  height: 20%;
}

.nav-icons {
  color: #080808;
  font-size: 2.5rem;
}

.nav-btns:nth-child(1){
  background: #fff;
  color: #000;
}
.nav-btns:nth-child(2){
  background: #000;
  color: #fff;
}
.nav-btns:nth-child(3){
  width: 2rem !important;
  height: 2rem !important;
  background-color: #080808;
}
.nav-btns:nth-child(4){
  width: 12rem !important;
  height: 2rem !important;
  background-color: #080808;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100% !important;
  }
}