@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root {
  --primary-color: #121212;
  --secondary-color: #4D4D4D;
  --text-color: #A7A7A7;
}

*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: "Signika", sans-serif;
}
a, button {
  all: unset;
  cursor: pointer;
}
li {
  list-style: none;
}
.login, .wrapper {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}
.login {
  background-color: #23CF5F;
}
.login img {
  width: 20rem;
}
.login button {
  background-color: #000;
  color: #1FDF64;
  font-size: 1.4rem;
  box-shadow: 0px 10px 20px -1px rgba(0,0,0,0.2);
}
.login button:hover {
  background-color: #000000da;
}
.wrapper {
  background-color: #000;
  position: relative;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #5d5c5c;
}